.base: &base
  hostname: feedback.thealternative.ch
  user: USER
  http_user: USER
  branch: master
  deploy_path: ~/www/feedback.thealternative.ch/{{stage}}
  sshOptions:
    StrictHostKeyChecking: no

dev:
  <<: *base
  stage: dev
  branch: master

production:
  <<: *base
  stage: production
  branch: master