{% extends 'layout_base.html.twig' %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "index" %}

{% block container_class %}container feedback-container{% endblock %}

{% block content %}
    <div id="feedback">

    </div>
{% endblock %}

