{% extends 'layout_base.html.twig' %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "index" %}

{% block bare_content %}
    <div id="feedback">

    </div>
{% endblock %}

