{% extends 'single_content_base.html.twig' %}
{% import _self as local_macro %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "index" %}

{% block single_content %}
    <div id="feedback">

    </div>
{% endblock %}

