{% extends 'layout_base.html.twig' %}

{% block content %}
    <div class="card pl-4 pr-4">
        <div class="card-body pl-1 pr-1">
            {% block single_content %}
            {% endblock single_content %}
        </div>
    </div>
{% endblock %}