{% extends "layout_base.html.twig" %}

{% block title %}{{ "result.title"|trans }}{% endblock %}
{% block description %}{{ "result.description"|trans }}{% endblock %}

{% trans_default_domain "administration_semester_event" %}

{% block content %}
    <div id="result">

    </div>
{% endblock %}

